.results-container {
    align-self: stretch;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #1c2b36;
    font-weight: 600;
    padding: 16px;
    max-width: 400px;
    position: sticky;
    top: 100px;
    margin-top: 14px;
  }
  
  .results-title {
    font-size: 20px;
    font-family: 'Avenir Next', sans-serif;
  }
  
  .tabs-container {
    display: flex;
    margin-top: 16px;
    gap: 16px;
    text-align: center;
  }
  
  .tab {
    /* flex: 1; */
    cursor: pointer;
    font-family: 'Avenir Next', sans-serif;
    color: #3e5463;
    padding-top: 9px;
  }
  
  .tab-underline {
    background-color: rgba(220, 227, 232, 0);
    margin-top: 9px;
    height: 2px;
  }
  
  .tab.active {
    color: #186ade;
  }
  
  .tab-underline.active {
    background-color: #186ade;
  }
  
  .divider {
    background-color: #dce3e8;
    height: 2px;
    margin-top: 16px;
  }
  
  .results-content {
    margin-top: 16px;
  }
  
  .result-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px 0;
  }
  
  .result-row {
    display: flex;
    justify-content: space-between;
  }
  
  .result-label {
    flex: 1;
    font-family: 'Avenir Next', sans-serif;
    color: #3e5463;
  }
  
  .result-value {
    flex: 1;
    text-align: right;
    font-family: 'Avenir Next', sans-serif;
  }
  