.wrapper{
    padding-top: 30px;
}
.Container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.fpfeeSelectorContainer {
    padding: 40px 1px 0px 0px;
}
.fpFeeRadioTitleContainer {
    margin-bottom: 0.25rem;
}
.fpFeeTitleAndHint {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftContainer {
    width: 50%;
}
.rightContainer {
    width: 50%;
    padding: 15px;
}
.hint {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    cursor: help;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(203, 203, 203);
    color: rgb(254, 254, 254);
    outline: 0px !important;
}
.navigator {
    display: flex;
}
.nextBtnContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 32px;
}
.title {
    margin: 0px;
    margin-bottom: 0.25rem;
}
.rightTitle {
    margin: 0px;
    margin-bottom: 10px;
}