.wrapper{
    padding-top: 30px;
}
.Container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.leftContainer {
    width: 50%;
}
.rightContainer {
    width: 50%;
    padding: 15px;
}
.navigator {
    display: flex;
    gap: 1px;
}
.title {
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 40px;
}
.radioContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}
.descriptionBox {
    width: 50%;
    padding: 15px;
    background: #f2f2f2;
    height: fit-content;

}
.feePayContainer {
    margin-top: 40px;
}
.selectContainer {
    margin-top: 10px;
}
.nextBtnContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 32px;
}
.rightTitle {
    margin: 0px;
    margin-bottom: 10px;
}
.fpFeeTitleAndDescription {
    margin-bottom: 40px;
}
.featureListButton {
    background: none;
    padding: 0px;
    border: 0px;
    font-style: normal;
    cursor: pointer;
    display: flex;
    color: #009ddc;
}
.flContainer {
    margin-top: 16px;
}
.selectTitle {
    margin: 0px;
}
.selectlabel {
    margin: 0px;
}
.errorColor {
    color: #cc4b37;
}
.errorMessage {
    font-size: 12px;
    margin: 0px;
    color:#cc4b37 ;
}