.btn {
    background-color: rgb(0, 74, 100);
    color: rgb(255, 255, 255);
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    border: solid;
    text-align: center;
    width: auto;
    padding:12px;
    cursor: pointer;
    transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
    margin: 0rem !important;
    border-radius: 5px;
    font-family: "system-ui";
    height: 46px;
}
.special {
    background-color: #f2f2f2;
    color: #4a5568;
    border: none;
}
.special:hover {
    background-color: rgb(0, 74, 100);
    color: rgb(255, 255, 255);

}