.step-indicator {
  display: flex;
  flex-direction: column;
  max-width: 364px;
  padding-right: 11px;
}

.step-indicator {
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.step.active .icon {
  background-color: #007BFF;
}

.step .title {
  color: #1c2b36;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  margin-top: 0;
  margin-bottom: 8px;
}

.step p {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  padding: 0;
  margin: 0;
}

.stepperParent {
  display: flex;
  flex-direction: column;

}

.step-line {
  height: 100%;
  border-right: 2px solid #9FB1BD;
  margin-top: -2px;
  margin-bottom: -2px;
}

.step-line-parent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step-line.noLine {
  border: none;
}