.additional-detail-container {
  align-self: stretch;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 662px;
  padding: 16px;

}

.header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1c2b36;
}

.description {
  margin-top: 8px;
  font-size: 14px;
  color: #3e5463;
}

.section {
  display: flex;
  gap: 24px;
  margin-top: 0px;
}

.subsection {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.subsection-header {
  font-weight: 600;
  color: #1c2b36;
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #9fb1bd;
  border-radius: 4px;
  /* padding-left: 8px;
  padding-right: 8px; */
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  color: #1c2b36;
}

.title {
  margin-top: 16px;
  font-weight: 600;
  color: #1c2b36;
}

.sub-description {
  margin-top: 8px;
  font-size: 14px;
  color: #3e5463;
}

.discounts {
  display: flex;
  gap: 16px;
  margin-top: 12px;
}

.discount-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.discount-radio {
  cursor: pointer;
}

.discount-value {
  font-weight: 600;
  color: #1c2b36;
}

.subsection.household {
  width: 48%;
}