.stepperStyle {
 display: flex;
 flex-direction: row;
 gap: 2px;
 height: 5px;
 width: 100%;
 margin-bottom: 16px;
 margin-top: 30px;
}
.greenBg {
    background-color:#004a64;
    height: 100%;
    width: 100%;
}
.redBg {
    background-color:#848489;
    height: 100%;
    width: 100%;
}
