/* RadioButtonStyles.css */
.container {
  display: block;
  position: relative;
  padding-left: 2.5rem; /* Padding to accommodate the custom radio button */
  margin-bottom: 0.5rem; /* Spacing between each radio button */
  cursor: pointer;
  font-size: 16px; /* Reduced font size */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); /* Center align vertically */
  height: 20px; /* Adjusted size to match label size */
  width: 20px; /* Adjusted size to match label size */
  border: 1px solid rgb(203, 203, 203); /* Border color */
  background: rgb(255, 255, 255); /* Background color */
  border-radius: 50%; /* Rounded shape */
}

.container:hover input ~ .checkmark {
  background-color: #ccc; /* Hover state background color */
}

.container input:checked ~ .checkmark {
  background-color: rgb(0, 74, 100); /* Checked state background color */
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
  top: 6px; /* Adjusted for the new size */
  left: 6px; /* Adjusted for the new size */
  width: 8px; /* Dot/circle size */
  height: 8px; /* Dot/circle size */
  border-radius: 50%; /* Rounded shape */
  background: white; /* Dot/circle color */
}
