.wrapper{
    padding-top: 30px;
}
.Container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}
.leftContainer {
    width: 50%;
}
.rightContainer {
    width: 50%;
    padding: 15px;
}
.navigator {
    display: flex;
}
.nextBtnContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 32px;
}
.title {
    margin: 0px;
    margin-bottom: 16px;
    margin-top: 40px;
}
.statusContainer {
    display: flex;
    margin-bottom: 16px;
}
.statusText {
    margin: 0px;
    font-size: 13px;
}
.statusValue {
    margin: 0px;
    padding-left: 6px;
}
.allocationDataContainer {
    display: flex;
    align-items: center;
    gap:10px;
    width: 100%;
    margin-bottom: 16px;
    align-items: flex-start;
}
.alocationLabel {
    margin: 0px;
    margin-bottom: 0.25rem;
}
.alocationValue {
    margin: 0px;
    color: #D91F11;
    font-weight: 600;
}
.allocTextContainer {
    width: 50%;
}
.allocValueContainer {
    width: 50%;
}
.allocLabel {
    font-size: 13px;
    margin: 0px;
    margin-bottom: 0.25rem;
}