.strategist-fee-container {
    align-self: stretch;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 662px;
}

.strategist-fee-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1c2b36;
}

.strategist-fee-description {
    margin-top: 12px;
    font-size: 14px;
    color: #3e5463;
    line-height: 20px;
    max-width: 400px;
}

.strategist-select-section {
    margin-top: 16px;
}

.strategist-select-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1c2b36;
}

.strategist-table {
    margin-top: 12px;
}

.strategist-table-header,
.strategist-table-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #dce3e8;
}

.strategist-name-header,
.strategist-name-cell {
    flex: 2;
    font-weight: 600;
    font-size: 14px;
    color: #1c2b36;
}

.strategist-fee-header,
.strategist-fee-cell {
    flex: 1;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #1c2b36;
    text-align: center;
}

.strategist-value-header,
.strategist-value-cell {
    flex: 1;
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    color: #1c2b36;
}

.fee-input {
    /* width: 50px; */
    text-align: right;
    border: 1px solid #9fb1bd;
    border-radius: 4px;
    padding: 8px 8px;
    overflow: hidden;
    width: 109px;
}

.fee-input:focus-visible {
    border: 1px solid #9fb1bd;
    outline-color: #9fb1bd;
}

.strategist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dce3e8;
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.strategist-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategist-info input {
    accent-color: #186ade;
    width: 14px;
    height: 14px;
    margin-right: 8px;
    padding-top: 0;
    margin-top: 0;
    pointer-events: none;
}

.strategist-table-header {
    margin-bottom: 16px;
}

.strategist-fee input[type=number]::-webkit-inner-spin-button,
.strategist-fee input[type=number]::-webkit-outer-spin-button {
    opacity: 1 !important;
    padding-right: 5px;
}

.strategist-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.fee-dollar-value {
    width: 109px;
    overflow: hidden;
    word-wrap: break-word;
    text-align: end;
    padding-right: 7px;
}
