.program-container {
  align-self: stretch;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 662px;
  padding: 16px;
  /* margin: 0 auto; */
}

.program-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #1c2b36;
}

.program-description {
  color: #3e5463;
  margin-top: 16px;
  font-size: 14px;
  line-height: 20px;
}

.program-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.program-card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(193, 204, 214, 1);
  border-radius: 4px;
  padding: 12px;
  cursor: pointer;
  /* height: fit-content; */
}

.program-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.program-card-title {
  font-weight: 600;
  color: #1c2b36;
}

.program-card-description {
  margin-top: 8px;
  color: #3e5463;
  font-size: 14px;
  line-height: 20px;
}

.radio-input {
  cursor: pointer;
}

.program-details {
  margin-top: 16px;
  color: #1c2b36;
}

.program-card-error-message {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  color: #AF0801;
}