.field-container {
    display: flex;
    width: 100%;
    /* margin: 6px 0px; */
    font-family: Avenir Next, -apple-system, Roboto, Helvetica, sans-serif !important;
    border-bottom: 1px solid #9FB1BD;

}

.header-labels,
.input-values {
    display: flex;
    flex: 1;
    justify-content: space-around;
    display: flex;
    align-items: center;

}

.field-name {
    width: 500px;
    border-right: 1px solid #9FB1BD;
}

.header-label {
    flex: 1;
    text-align: center;
    word-wrap: break-word;
    /* min-width: 100px; */
}

.field-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #1c2b36;
    display: flex;
    flex-direction: column;
    flex: 0 0 490px;
    padding: 6px 8px;
}

.field-container.black-section {
    background: #0f2731;
    height: 32px;
    align-items: center;
    padding: 0 0px;
    width: 100%;
}

.field-container.black-section .field-name {
    color: #fff;
}

.field-container.black-section .header-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    border: none;
}

.field-container.rate-doller .header-label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #3e5463;
    padding-bottom:4px ;
}

.field-name>span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #3E5463
}

.header-label.three-column {
    /* min-width: 150px; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #1C2B36;
    border-right: 1px solid #9FB1BD;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-values {
    flex: 1;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    /* min-width: 100px; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #1C2B36;
    border-right: 1px solid #9FB1BD;
    height: 100%;
}

.table-wrapper {
    overflow: auto;
    max-width: 100%;
}

.field-container.rate-doller .field-name {
    border: none;
}

.main-container .header {
    margin-bottom: 47px;
}