/* ToolTip.module.css */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #f2f2f2;
    color: black;
    border-radius: 2px;
    padding: 5px 10px 10px 20px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 7px);
    left: 15px;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.3s;
    width: 325px;
    font-size: 14px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 1px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  